:root {
    --branco: #f1f5f9;
    --slate-900: #0f172a;
    --verde-400: #34d399;
    --verde-500: #10b981;
    --verde-700: #047857;
}

* {
    font-family: Arial, Helvetica, sans-serif
}

body {
    background: var(--slate-900);
    color: var(--branco);
}

h1,
h2 {
    color: #0ea5e9;
    font-weight: 600;
}

h2 {
    text-align: center;
}

a {
    text-decoration: none;
    color: var(--branco);
}

a:hover {
    text-decoration: underline;
}

button {
    background: var(--verde-500);
    color: var(--branco);
    border: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

button:hover {
    background: var(--verde-400);
    cursor: pointer;
}

.paragrafo-texto {
    width: 50%;
    margin: 0 auto;
}