{% extends "base.html" %}
{% block titulo %}Compras
{% endblock %}
{% block conteudo %}
	<h3>Adicionar item</h3>
	<form action="compras_adc.php" method="POST">
		<input type="text" name="item">
		<button type="submit">Adicionar</button>
	</form>
	<hr>

	<p>Esta é sua lista de compras:</p>

	<ul>
		{% for compra in compras %}
			<li>
				{{ compra.item }} 
				<a href="compras_edit.php?id={{ compra.id }}" class="edit-btn">Editar</a>
				<a href="compras_remove.php?id={{ compra.id }}" class="delete-btn">Excluir</a>
			</li>
		{% endfor %}
	</ul>
{% endblock %}
